body {
    background-image: url("fundo.jpg");
    background-size: cover;        
    background-position: center;  
    background-repeat: no-repeat;  
    font-family: Arial, sans-serif;
    margin: 0;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 0; 
}

h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
    position: relative;
    z-index: 1;
}

h2 {
    text-align: center;
    color: #ff4d4d;
    position: relative;
    z-index: 1;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 15px;
    border-radius: 12px;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
    transition: 0.3s;
    position: relative;
    z-index: 1;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.texto {
    width: 70%;
}

.texto h3 {
    margin-bottom: 5px;
}

.texto p {
    margin-bottom: 8px;
}

.preco {
    color: green;
    font-weight: bold;
    font-size: 18px;
}

.botao-topo {
    position: fixed;
    top: 20px;
    right: 20px;

    z-index: 9999;

    padding: 12px 20px;
    background-color: #ff4d4d;
    color: white;

    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;

    box-shadow: 0px 4px 12px rgba(0,0,0,0.3);

    transition: 0.3s;

    display: inline-block;
}

.botao-topo:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}

.entrada {
    text-align: center;
    margin-top: 30px;
    position: relative;
    z-index: 1;
}

.botoes {
    margin-top: 15px;
}

.botao-entrar {
    display: inline-block;
    margin: 10px;
    padding: 12px 25px;
    background-color: #ff4d4d;
    color: white;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.botao-entrar:hover {
    background-color: #0026ff;
    transform: scale(1.05);
}

.tabela-precos {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);

    position: relative;
    z-index: 1;
}

.tabela-precos th {
    background-color: #ff4d4d;
    color: rgb(255, 255, 255);
    padding: 12px;
}

.tabela-precos td {
    padding: 10px;
    text-align: center;
}

.tabela-precos tr:nth-child(even) {
    background-color: #ffffff;
}

.entrada p {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}
